# Created by venv; see https://docs.python.org/3/library/venv.html
.env
main2.py
trial.ipynb
venv
myenv
Graph_code2.py
__pycache__
checkpoints.db
checkpoints.db-shm
checkpoints.db-wal
logs
frontend
images